
<div id="quick-talk-container" class="quick-link">
  <button id="close-talk" class="d-flex ml-auto cancel-button -mt-1" style="border: none; color:red; border-radius:40px; padding: 6px"><span style="font-size: 18px;" class="material-icons">close</span></button>
  <h4>Interested to talk?</h4>
  <a class="btn btn-primary btn-lg btn-success" href="/contact" role="button">Say hello</a>
</div>

<script>
  const close_btn = document.getElementById("close-talk");
  const quick_talk = document.getElementById("quick-talk-container")
  // Add a click event listener
  close_btn.addEventListener("click", function() {
    quick_talk.style.display = "none";
  });
</script>