.feature {
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 30px;
  background-color: #ffffff;
  
  box-shadow: 0px 0px 5px #f5e1e7;
  &:hover {
    background: linear-gradient(to bottom, #0068a5 0%, #003367 100%);
    color: #ffffff !important;
    .feature-image {
      img {
        filter: contrast(0) brightness(5);
      }
    }
    .feature-two-columns p {
      columns: #ffffff !important;
    }
  }
  .feature-head{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .feature-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
    height: 68px;
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
  .feature-two-columns {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: justify;

    font-family:'Titillium Web', sans-serif, -apple-system;
    // gap: 5%;  /* Creates a gap between the columns */
  }
  .feature-two-columns{
    .feature-column .second-column{
      text-align: justify;
    }
  }
  
  // .feature-two-columns .feature-column {
  //   list-style: none;
  // }
  .feature-stack-title{
    margin-left: 20px;
    width: fit-content;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  
  .feature-two-columns p {
    font-family:'Titillium Web', sans-serif, -apple-system;
    text-align: justify;
    color: inherit;
    // justify-content: flex-start;
    font-size: 16px;
    padding: 5px 0;
    // width: 100%;   /* Takes the full width of its parent column */
    // padding: 0 10px;  /* Add padding inside the list item (optional) */
    // margin: 0 5px 10px 5px;  /* Add margin outside the list item (optional) */
    
    }
}
.stack .feature{
  color: #ffffff;
  background: linear-gradient(to bottom, #0068a5 0%, #003367 100%);
  .feature-two-columns p{
    color: #ffffff;
  }
}

.icon-lg {
  img {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.stack-list-style{
  @media (max-width:776px) {
    width: 50%;
  }
}