.header {
  // color: $white-offset;
  background-color: $white-offset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  position: fixed;
  z-index: 999;
  border-bottom: solid 1px #e4e4e4;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  background: black;
  // background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 100%);
  position: sticky;
  top: 0;
  z-index: 10;   
  border-bottom: 1px solid #262626;  
  box-shadow: 0 4px 6px -1px rgba(0 ,0, 0, 0.1), 0 2px 4px -2px rgba(0 ,0 ,0 , 0.1); 
  @media (max-width: 992px) {
    z-index: 34;
  }
  .main-menu{
    ul >li{
      padding: 12px 0px;
    }
    ul >li >a {
      padding: 18px 12px 14px 12px;
      color: rgb(218, 218, 218);
      &:hover{
        color: white !important;
        font-weight: bold;
        cursor: pointer;
      }
    } 
    ul > li.active > a{
      color: white !important;
  }   
}
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}



