.main-menu {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 18px 12px 10px 12px;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        color: #46494e;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        > a {
          font-weight: bold;
          text-decoration: none;
          color: $primary;
          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }
    }
  }
}

@mixin sub-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 2rem;
  padding: 2rem;
  justify-content: center;
  .sub-menu-title{
    margin: 0;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    color: #333;
  }
.sub-menu-item {
    font-size: 16px;
    white-space: nowrap; 
    padding: 10px 20px; 
    display: block;
    color: #333; 
    text-decoration: none;
    &:hover{    
        color: #1d6427;
    }
    
}

.child-menu-section{
    .child-dropdown{
      &:hover{
        color: #333;
        cursor:default;
      }
      text-align: center;
      font-weight: bold;
      margin: 0;
    }
    h3{
        font-size: 16px;
    }
    .child-menu{  
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 180px;
      padding: 10px 20px;
        .child-menu-item{
            display: block;
            padding: 6px 20px; 
            margin-right: 2rem;  
            font-size: 16px;
            text-decoration: none;
            &:hover{
                color: #1d6427;
            }
        }

    }
}
}



.dropdown-menu {
  top: 100%; 
  
  z-index: 1000;
  border-radius: 0;
  background-color: #f8f9fa; 
  border: none; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.main-menu{
  .dropdown-menu{
    .sub-menu{
      max-height: 430px ;
      @include sub-menu;
    }
  }
}

