.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
    background-color: white ;
  }
}


.slides{
  @include media-breakpoint-up(lg) {
    width: 990px !important;
  }
  @include media-breakpoint-up(xl) {
    width: 1100px !important;
  }     
}
.text-center {
  text-align: center;
}   


.section-top{
  .section-intro-container{
    margin-top: 50px;   
    @include media-breakpoint-up(xl){
    margin-top: 40px;
    min-height: 586px;  
    // display: grid !important      ;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  .intro{
    margin: 0;
  }
  }
  .intro-image-conatainer{
    img{
    object-fit: cover;
    object-position: left;
    height: 100%;
    margin: 0;  
    max-width: 100% !important;
    max-height: 100% !important;}
  }

}
.section-content{
  // display: grid;
  // grid-template-columns: repeat(2, minmax(0, 1fr));
  .intro-content{
    height: 100%;
    padding: 1rem 1.5em;  
    background-color: #ffffff;
    text-align: start;
    display: flex;
    flex-direction: column ;    
    justify-content: center;
    h1 {
      font-size: 38px !important;
      margin: 0;
     color: #202020e1
    }   
    p{
      color: #565656;
    }
  }
  .ctas-list{
    h4{
      font-size: 26px;
    }
    border: 1px solid rgba(186, 186, 186 , 0.27);
    background-color: inherit !important;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      list-style: none  ;
      display: flex !important;
      flex-direction: column;
      li{
        font-size: 18px;  
        a{  
          color: rgb(190, 190, 190);
          &:hover{
            color: #ffffff;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
section{
.consulting-container{
  .strip{
    background-color: #ffffff;
    padding: 0;
    display: flex;
    align-items: center ;
    
    .service-title  {
      text-transform: none;
      font-size: 24px !important;
      a{
      color: rgba(32, 32, 32, 0.881);
      font-size: 16     px;
      }
    }     
    p{
      color: #565656;
    }           
  } 
  .content-list-item{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    ul {
       padding: 0;
       margin: 0; 
       display: grid !important;
       @include media-breakpoint-up(md){
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      li{
        width: 100%;
        // @include media-breakpoint-down(sm){
        //   width: 100%;
        // }
        
        .feature-card{  
          min-height: 186px;
        }
        border-radius: 12px;
        border: 1px solid #81B94C;
        padding: 15px 20px;
        background: inherit !important;
        
        h2{
          text-transform: none;
          font-size: 18px !important;
        }
      }
    }
    .container-context{
      display: flex;
      .icon{
        span{
          font-size: 32px;
          display: inline;
          padding: 8px !important;
          background-color: white;
          border-radius: 47px;
          color: #81B94C;
        }
      }
      
      h2{
        margin-bottom: 5px;
        font-size: 24px;
      }
    }
    
    .feature-summary{ 
      font-size: 14px;
      color: #cbcbcb;
    }
  }
}
}

.home-slides{
  display: grid;
  width: 100%;
  height: 100%;
  @include media-breakpoint-up(lg){
    min-height: 580px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
    --tw-shadow-color: #1d6427;
    box-shadow: 0 10px 26px -3px rgba(23, 95, 10, 0.50), 0 4px 6px -4px rgba(0, 0 ,0, 0.1); 
  .tmux-header{
    border-bottom:1px solid #1d6427;
    text-align: start;
    p{
      font-size: 12px;
      margin: 0;
      color: white;
    }
  }
  .slide-left{
    border:1px solid #1d6427;
    border-right: 0;
    .content{
    
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center   ;
    h2{
      font-size: 32px;  
      text-transform: none    ;
    } 
    p{
      margin: 0;
      color: #b5b5b5;   
    }
  }
  } 
  .slide-right{
    border:1px solid #1d6427;
    .content{
      text-align: start;
      padding: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        font-size: 24px !important;
        text-transform: none;
      }
      p{
        margin: 0;
        color: #b5b5b5;
        
      }
    }
  }  
}