// mixins
// Common styles for consulting container
@mixin consulting-container {
//  .consulting-container{
p{
  font-family: var(--r-main-font);
}
  width: 100%;
  height: 100%;
  scroll-margin-top: 30px;
  a {
    text-decoration: none !important;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    .strip{
      .service-title {
        a {
          font-size: 3.5rem !important;
        }
      }
    }
  }
  .section-container{
    height: 100%;
  }
// }
} 

// Common styles for strip
@mixin strip-styles {
  background-color: inherit;
  padding: 0;
  // display: flex;
  align-items: center;
  .service-title {
    text-transform: none;
    margin-bottom: 2rem;
    a {
      font-size: 2.5rem;
      color: var(--v2-heading-color);
    }
  }
  p {
    color: var(--v2-paragraph-color);
    font-size: 18px;
  }
}

// Common styles for list items
@mixin list-item-styles {
  ul {
    display: block !important;
    height: 100%;
    padding: 20px;
    margin: 0;
    li {
      padding: 0;
      width: 100%;
      margin-bottom: 2rem;
      text-align: start !important;
      min-height: auto !important;
      a {
        display: block;
        height: 100%;
        padding: 3rem;
      }
      p {
        margin-top: 1rem;
        font-size: 18px;
        // text-decoration: underline;
        color: #1d6427;
      }
      @include media-breakpoint-down(md) {
        // min-height: 452px;
        a {
          padding: 3rem;
        }
      }
      h2 {
        color: #1d6427;
        text-transform: none;
        font-size: 28px !important;
      }
    }
  }
}

// Common styles for container context
@mixin container-context-styles {
  display: flex;
  .icon {
    span {
      font-size: 42px;
      display: inline;
      padding: 8px !important;
      background-color: black;
      border-radius: 47px;
      color: #81B94C;
    }
  }
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

// Common styles for feature summary
@mixin feature-summary-styles {
  font-size: 18px;
  color: #474747;
}


.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .wrapper {
    flex: 1 0 0;
    background-color: white ;
  }
}


.text-center {
  text-align: center;
}   


.section-top{
  width: 100%;
  height: 100%;
  .section-intro-container{
    height: 100%;
    // margin-top: 50px;   
    @include media-breakpoint-up(xl){
    min-height: 792px !important;  
    }
    @include media-breakpoint-up(lg){
      min-height: 620px;
    }
  .intro{
    margin: 0;
  }
  }
  .intro-image-conatainer{
    img{
    object-fit: cover;
    object-position: left;
    height: 100%;
    margin: 0;  
    max-width: 100% !important;
    max-height: 100% !important;}
  }

}
.section-content{
  background-color: #ffffff;
  // display: grid;
  // grid-template-columns: repeat(2, minmax(0, 1fr));
  .intro-content{
    height: 100%;
    padding: 1rem;
    @media (min-width: 1600px) {
      width: 796px !important;
    }
    @media (min-width:1300px) and (max-width: 1599px) {
      width: 652px !important;
    }
    @include media-breakpoint-up(lg){
      padding: 1rem 1.5em;  
      margin: 0 0 0 auto;
      width: 528px;
      h1{
        padding-bottom: 20px;
        font-size: 5rem !important;
      }
    }
   
    // background-color: #ffffff;
    text-align: start;
    display: flex;
    flex-direction: column ;    
    justify-content: center;
    h1 {
      font-size: 3rem ;
      margin: 0;
      color: #1d6427;
      font-weight: bold;
    }   
    p{
      font-family: var(--r-main-font);
      font-size: 18px;
      color: #565656;
    }
  }
  .ctas-list{
    h4{
      font-size: 26px;
    }
    border: 1px solid rgba(186, 186, 186 , 0.27);
    background-color: inherit !important;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      list-style: none  ;
      display: flex !important;
      flex-direction: column;
      li{
        font-size: 18px;  
        a{  
          color: rgb(190, 190, 190);
          &:hover{
            color: #ffffff;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// section {
//   width: 100%;
//   height: 100%;
  // padding-bottom: 60px;
  .split-container{
    // margin-top: 0px;
    width: 100%;
    height: 100%;
    .section-container{
      height: 100%;
      @include media-breakpoint-up(lg){
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (max-width: 992px){
        .strip,.content-list-item{
          height: 50%;
        }
      }
      .strip{
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        div{
          width: 100%;
          
          }
          // div{
            // margin-left: auto !important;
            
            // @include media-breakpoint-up(lg){
            //   width: 450px;
            // }
            // @media (min-width: 1600px) {
            //   width: 712px !important;
            // }
            // @media (min-width:1300px) and (max-width: 1599px) {
            //   width: 567px !important;
            // }

          // }
        }
        .service-title{
          font-size: 6rem !important;
          h2{
            font-size: 6rem;
            margin-bottom: 10px;
          }
          a{
            color: var(--v2-heading-color);
            
          }
        }
        p{
          text-align: start;
          font-size: 3rem;
          font-family: inherit;
        }
        .feature-sub-list{
          list-style: none;
          padding: 0;
          margin: 0;
          @media (min-width: 1600px) {
             margin-top: 2em;
            }
          li{
            font-size: 2.6rem;
            position: relative;
            padding-left: 40px;
            &::before{
              content: '→'; 
              position: absolute; 
              left: 0; 
              color: #ffffff;
            }
          }
        }
      }
      .list-items{
        margin: 0;
        padding: 0;
        background-color: #292929;
        ul{
          display: flex;  
            height: 100%;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            margin: 0;
            padding: 3rem;
            li{
              list-style: none;
            }
        }
      }

      
      .images-items{
        margin: 0;
        padding: 0;
        background-color: #292929;
          ul{
            margin: 0;
            width: 100%;
            display: flex;  
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // gap: 1em;
            padding: 3rem;
            li{
              min-height: 50%;
              list-style: none;
              background: none;
              padding: 0;
              width: 100%;
              // width:  fit-content;
              &:hover{  
                background: none;
              }
              .images-container{
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                justify-content: space-around;
                align-items: center;
                justify-items: center;
                height: 100%;
                // gap: 1rem;
                img{
                  width: 5em;
                  border-radius: 1rem;
                  height: auto;
                  background-color: white;
                  max-width: 100% !important;
                  max-height: 100% !important;
                  object-fit: cover;
                }
              }
              
            }
            .feature-sub-list{
              height: fit-content;
              display: block;
              list-style: none;
              padding: 0;
              margin: 0;
              width: fit-content;
              // margin-left: 3rem;
              // @media (min-width: 1600px) {
                //  margin-top: 2rem;
                // }
              li{
                font-size: 2.6rem;
                position: relative;
                padding-left: 40px;
                &::before{
                  content: '→'; 
                  position: absolute; 
                  left: 0; 
                  color: #ffffff;
                }
              }
            }
          }
          
        
      }
      @include media-breakpoint-down(md){
        .strip{
          padding: 0 5px;
          .service-title{
            margin-top: 1rem;
            h2{
            font-size: 2.5rem !important;
            margin-bottom: 0;
          }

          }
          p{
            font-size: 1.2rem !important;
            
          }
        }
      }
    }
    .reverse{
      .strip{
        background-color: #292929 !important;
      }
      .strip>div{
        margin-left: 0 !important;
        margin-right: auto !important;
        @include media-breakpoint-up(lg){
          padding-left: 3rem;
          .service-title{
            margin-bottom: 5rem;
          }
        }
        
      }
      .images-items{
        order:-1;
        background-color: inherit !important;
        // ul{
          // margin-left: 2em;
          // width: fit-content;
          
        // }
      }
    }
  
  .bullet-point-container{
    @include consulting-container;
    background-color: white;
    .strip{
        padding: 0;
      p{
        font-size: 18px;
        color: var(--v2-paragraph-color);
      }
      .service-title {
        text-transform: none;
        margin-bottom: 2rem;
        a {
          font-size: 2.5rem;
          color: var(--v2-heading-color);
        }
      }
    }
    @include media-breakpoint-down(sm){
        .strip{
           margin-top: 74px;
          .service-title{
              font-size: 2rem;
              margin-bottom: 1rem !important;
            a{
              font-size: 2rem !important;
            }
           
          }
          p{
            font-size: 1.2rem !important;
          }
        }
        .content-list-item{
          ul{
            li{
              padding: 8px !important;
              font-size: 1.5rem !important;
              a{
                .feature-card{
                  h2{
                    font-size: 1.4rem !important;
                  }
                }
              }
            }
          }
        }
    }
    .content-list-item{
      
      padding-top: 0;
      
      @include media-breakpoint-up(lg){
        height: 80%;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        ul{
        }
        img{
          width: 40% !important;
          max-height: 470px !important;
        }
      }
      
     
      img{
        width: 100%;
        margin: 0;
        max-height: 320px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 7px 14px -3px #c9c9c9;
      }
        ul{
            padding: 0;
            padding-bottom: 40px;
            display: block;
            width: fit-content;
            // margin: 0 auto;
            li{
              font-size: 2.5rem;
              list-style: disc;
              color: var(--v2-primary-color);
              width: 100%;
              padding: 10px;
              &:hover{
                cursor: default;
                color: var(--v2-primary-color) !important;
                background: inherit;
              }
              a{
                .feature-card{
                  h2{
                    text-align: start;
                    color: var(--v2-sub-heading-color);
                    font-size: 2rem ;
                    text-transform: none;
                    font-weight: bold;
                    margin: 0 !important;
                  }
                }
                
                .icon,.feature-summary, p{
                  display: none;
                }
                
              }
            }
        }
    }
  }
  .harizontal-card-container {
    @include consulting-container;
    @include media-breakpoint-down(sm){
      .strip{
        margin-top: 74px;
        .service-title{
          font-size: 2rem;
          margin-bottom: 1rem !important;
          a{
            font-size: 2rem !important;
            }
        }
        p{
          font-size: 1.2rem !important;
        }
      }
      .content-list-item{
        ul{
        padding: 0 !important;
        li{
          a{
            padding: 1rem 1.5rem !important;
          }
          .feature-card{
            .icon{
              font-size: 20px !important;
              span{
              font-size: 20px;
              padding: 2px !important;
              border-radius: 14px;
              }
            }
            h2{
              font-size: 1.4rem !important;
            }
            .feature-summary, p{
              font-size: 1rem !important;
              min-height: 0 !important;
            }
          }
        }
        }
      }
    }
    .strip {
      @include strip-styles;
    }
    
    .content-list-item {
      @include list-item-styles;
      li {
        width: 100%;
        // min-height: 480px;
        text-align: start !important;
        padding: 0;
        background: var(--v2-box-container-card-bg) !important;
        border: 1px solid var(--v2-box-container-card-bg);
        &:hover {
          background: var(--v2-box-container-card-bg-light) !important;
          border-color: var(--v2-primary-color);
          box-shadow: 0 10px 15px -3px;
          cursor: pointer;
          .feature-card{
            h2{
              color: var(--v2-primary-color);
            }
            .icon{
              span{
                background-color: var(--v2-box-container-card-bg);
                // color: var(--v2-primary-color);
              }
            }
          p{
            color:var(--v2-primary-color);
          }
        }
        }
        a {
          display: block;
          height: 100%;
          padding: 3rem;
        }
        
        .feature-card {
          // min-height: 65%;
          gap:0;
          height: 100%;
          h2{
            color: var(--v2-sub-heading-color);
          }
            .icon{
              span{
                background-color: var(--v2-box-container-card-bg-light);
                color: var(--v2-primary-color);
              }
            }
          .feature-summary{
            color: var(--v2-paragraph-light-color);
            min-height: 5rem;
            padding-bottom: 10px;
          }
          p {
            font-size: 18px;
            // text-decoration: underline;
            color: var(--v2-heading-color);
          }
        }
        @include media-breakpoint-down(md) {
          // min-height: 452px;
          a {
            padding: 2rem;
          }
        }
        h2 {
          padding: 10px 0;
          color: var(--v2-sub-heading-color);
          text-transform: none;
          font-size: 28px ;
        }
      }
    }
    
    .container-context {
      @include container-context-styles;
    }
    
    .feature-summary {
      @include feature-summary-styles;
    }
  }

  .box-card-container {
    background-color: var(--v2-box-container-bg);
    @include consulting-container;
    @include media-breakpoint-down(sm){
      .strip{
        margin-top: 74px;
        .service-title{
          font-size: 2rem;
          margin-bottom: 1rem !important;
          a{
            font-size: 2rem !important;
            }
        }
        p{
          font-size: 1.2rem !important;
        }
      }
      .content-list-item{
        ul{
        padding: 0 !important;
        li{
          a{
            padding: 1rem 1.5rem !important;
          }
          .feature-card{
            .icon{
              font-size: 20px !important;
              span{
              font-size: 20px;
              padding: 2px !important;
              border-radius: 14px;
              }
            }
            h2{
              font-size: 1.4rem !important;
            }
            .feature-summary, p{
              font-size: 1rem !important;
              min-height: 0 !important;
            }
          }
        }
        }
      }
    }
    .strip {
      @include strip-styles;
      .service-title{
        a{color: var(--v2-heading-color);}
      }
      p{
        color: var(--v2-paragraph-color);
      }
    }

    .content-list-item {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      
      ul {
        height: 100%;
        padding: 20px 10px;
        margin: 0;
        // gap: 1rem;
        display: grid !important;
        @include media-breakpoint-up(md) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          padding: 2rem;
          // gap: 3rem;
        }
        li {
          width: 100%;
          // min-height: 480px;
          text-align: start !important;
          padding: 0;
          background: var(--v2-box-container-card-bg) !important;
          border: 1px solid var(--v2-box-container-card-bg);
          &:hover {
            background: var(--v2-box-container-card-bg-light) !important;
            border-color: var(--v2-primary-color);
            box-shadow: 0 10px 15px -3px;
            cursor: pointer;
            .feature-card{
              h2{
                color: var(--v2-primary-color);
              }
              .icon{
                span{
                  background-color: var(--v2-box-container-card-bg);
                  // color: var(--v2-primary-color);
                }
              }
            p{
              color:var(--v2-primary-color);
            }
          }
          }
          a {
            display: block;
            height: 100%;
            padding: 3rem;
          }
          
          .feature-card {
            // min-height: 65%;
            height: 100%;
              .icon{
                span{
                  background-color: var(--v2-box-container-card-bg-light);
                  color: var(--v2-primary-color);
                }
              }
            .feature-summary{
              color: var(--v2-paragraph-light-color);
              min-height: 5rem;
              padding-bottom: 10px;
            }
            p {
              font-size: 18px;
              // text-decoration: underline;
              color: var(--v2-heading-color);
            }
          }
          @include media-breakpoint-down(md) {
            // min-height: 452px;
            a {
              padding: 2rem;
            }
          }
          h2 {
            padding: 10px 0;
            color: var(--v2-sub-heading-color);
            text-transform: none;
            font-size: 28px ;
          }
        }
      }
    }
    
    .container-context {
      @include container-context-styles;
    }
    
    .feature-summary {
      @include feature-summary-styles;
    }
  }
// }


.home-slides{
  min-width: 70vw;
  display: grid;
  width: 100%;
  height: 100%;
  @include media-breakpoint-up(lg){
    min-height: 580px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include media-breakpoint-down(md){
    .slide-left, .slide-right{
      height: 35vh;
    }
  }
    --tw-shadow-color: #1d6427;
    box-shadow: 0 10px 26px -3px rgba(23, 95, 10, 0.50), 0 4px 6px -4px rgba(0, 0 ,0, 0.1); 
  .tmux-header{
    border-bottom:1px solid #1d6427;
    text-align: start;
    p{
      font-size: 14px;
      margin: 0;
      color: #0c0c0c;
    }
  }
  .slide-left{
    border:1px solid #1d6427;
    border-right: 0;
    .content{
    
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center   ;
    h2{
      font-size: 32px;  
      text-transform: none    ;
    } 
    p{
      margin: 0;
      color: #6b6b6b;   
    }
  }
  } 
  .slide-right{
    border:1px solid #1d6427;
    .content{
      text-align: start;
      padding: 1rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2{
        font-size: 24px !important;
        text-transform: none;
      }
      p{
        margin: 0;
        color: #6b6b6b;
        
      }
    }
  }  
}

.raw-section-container{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90%;
  padding-top: 6rem;
  .container{
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
    .plf-infra{
      width: 70%;
    }
  }
  h1{
    font-size: 8rem !important;
  }
  h2{
    margin: 0 !important;
  }
  p, blockquote{
    font-size: 3rem;
    font-family: inherit;
  }
  .features-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img{
      height: 5rem;
    }
  }
 
  @include media-breakpoint-down(md){
    .features-images{
      img{
        height: 3rem !important;
        margin: 0 !important;
      }
    }
    h1,h2{
      font-size: 4rem !important;
    }
    p{
      margin: 0 !important;
    }
    p, blockquote{
      font-size: 2rem;
      
    }
  }
}

section{
  p{
    .quote{
      &::before{
        content: "“";
      }
      &::after{
        content: "”";
      }
    }
  }
}