---
layout: default
bodyClass: page-events-list
---




<section class="horizontal-events">
    <div class="container pb-md-6">
        <div class="events-container">
    
                <div class="events-title-section mt-1" id="upcoming-events">
                    <h2 class="section-title">Upcoming Events</h2>
                </div>
                <div class="events-grid border-md-bottom ">
                    {% for event in site.events %}
                    {% assign event_date_str = event.date | date: "%Y-%m-%d" %}
                    {% assign current_date_str = site.time | date: "%Y-%m-%d" %}
                    {% if event_date_str >= current_date_str %}
                    <div class="event-card">
                        <div class="row mx-0 event-top-position">
                            {%if event.banner %}
                            <img src="{{event.banner}}" alt="{{event.title}}">
                            {% else %}
                            <h5 class=" p-1 event-card-title ">{{event.title}}</h5>
                            {% endif %}
                        </div>
                        <div class="event-item">
                            <div class="event-item-list">
                                <div class="row mx-0 align-items-center event-items-grid">
                                    <div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/location.png"
                                            alt="location icon"></div>
                                    <p class="m-0 col-10 p-0">{{event.location}}</p>
                                </div>
                                <div class="row mx-0 align-items-center event-items-grid">
                                    <div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/calendar.png"
                                            alt="calender icon"></div>
                                    <p class="m-0 col-10 p-0 text-capitalize">{{ event.date | date: '%d'}}-{{ event.date | date: '%b' | upcase }}-{{ event.date | date: '%Y' | upcase }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="px-1">
                                {% if event.description %}
                                <div class="event-item-description">
                                    <p class="m-0 ">{{event.description}}</p>
                                </div>
                                {% endif %}
                                <a href="{{ event.url }}">Read more</a>
                                <!-- <a href="{{ event.link }}" target="_blank">Register</a> -->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
    </div>
</div>
</div>
