---
layout: default
bodyClass: page-services-list
---


<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class=" down-panel info">
  <div class=" container  d-flex p-2 justify-content-between">
    <!-- <h4>Browse</h4> -->
      <ul class="d-md-flex">
        {% assign sorted_solutions = site.solutions | sort: 'weight' | reverse %}
        {% for solutions in sorted_solutions %}
          <li  ><a href="#{{ solutions.hash }}">{{ solutions.title }} </a></li>
        {% endfor %}
      </ul>
      <div class="position-fixed intrested-section">{% include_relative _includes/cta.html %}</div>

  </div>
</div>

<div >
  {% for solutions in sorted_solutions %}
  <div class="service service-summary" id="{{ solutions.hash }}">
  <div  style="background-color: {{solutions.section.background}};" class="strip service-section">
    <!-- <div class="service-section-bg"></div> -->
    <div class="container pt-2  pb-md-4">
      <div class="row justify-content-center align-items-center">
        <h2 class="service-title col-12 col-lg-5 text-center text-lg-right">
                    <a href="#{{ solutions.hash }}">{{ solutions.title }}</a>
          </h2>
          <div class="col-12 col-lg-7">{{ solutions.content | markdownify }}</div>
      </div>
    </div>
  </div>
  <div class="content-list-item container">
    {% if solutions.features %}
    <ul class="container-context px-md-4 px-sm-1">
      {% for feature in solutions.features %}
      <li>
        <div class="d-flex justify-content-center align-items-center flex-column {{ feature.div_class | default: 'text-center platform-strategy' }}">
          <h2 class="{{ feature.h2_class | default: 'text-center' }}">{{ feature.title }}</h2>
          <div class=" {{cfeature.div_class }}">
            <span class="material-icons {{ feature.span_class | default: 'icon-serv py-1' }}" style="font-size: 80px;">
              {{ feature.icon }}
            </span>
          </div>
          <span class="feature-summary">
          {{ feature.summary }}
          </span>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    </div>
</div>
{% endfor %}
</div>


