---
layout: v2_default
bodyClass: page-events-list
---

<!-- <div class="reveal">
    <div class="slides"> -->
        <!-- <section class="section-top">
            <div class="section-intro-container row mx-0">
                <div class="section-content col-lg-6 p-0 col-12">
                  <div class="intro-content py-2">{{ content }}</div>
                </div>
                <div
                  class="intro-image-conatainer col-lg-6 p-0 col-12 order-lg-1 order-first flex-xl-row-reverse"
                >
                  <img src="/{{page.intro_image}}" alt="{{page.title}}" />
                </div>
              </div>
        </section> -->
    <!-- </div>
</div> -->


<section class="horizontal-talks">
    <div class="container pb-md-6">
        <!-- <div class="upcoming-events-card mt-1">
            <a href="/v2/events">Upcoming Events 🎟️</a>
        </div> -->
        <div class="talks-container">
            {% for event in site.events reversed %}
            {% assign event_date_str = event.date | date: "%Y-%m-%d" %}
            {% assign current_date_str = site.time | date: "%Y-%m-%d" %}
            {% if event_date_str < current_date_str and event.talks %}
             
                <!-- <div class="talks-title-section">
                    <h2 class="talks-section-title">{{event.title}}</h2>
                </div> -->
                <div class="talks-grid border-md-bottom ">
                    {% for talk in event.talks%}
                    <div class="talk-card">
                        <div class=" mx-0 talk-top-position">
                            <iframe class="talk-video" width="364" height="315" src="https://www.youtube.com/embed/{{talk.video}}?color=white" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="talk-item">
                            <div class="talk-item-list">
                                <div class="talk-speaker">
                                    <h6 class="speaker">{{talk.speaker}}</h6>
                                </div> 
                                <div class=" d-flex p-0  align-items-center">
                                <h5 class="m-0 py-1 talk-card-title ">{{talk.title}}</h5>
                                </div>
                                
                                <!-- <p class="talk-summary">{{talk.summary}}</p>        -->
                            </div>
                            <!-- <hr> -->
                            <div class="talk-slide">
                                {% if talk.slide %}
                                <a target="_blank" {%if talk.slide%} href="{{talk.slide}}" {% endif %} class="talk-slide-btn">Download Slides</a>
                                {% endif %}
                                <a href="{{event.url}}" class="talk-view-more">View More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endfor %}
    </div>
    <div class="events-container">
        <div class="upcoming-events-card mt-1">
            <h4 >Upcoming Events 🎟️</h4>
        </div> 
        {% for event in site.events %}
                {% assign event_date_str = event.date | date: "%Y-%m-%d" %}
                {% assign current_date_str = site.time | date: "%Y-%m-%d" %}
                {% if event_date_str >= current_date_str %}
                <!-- <div class="talks-title-section">
                    <h2 class="talks-section-title">{{event.title}}</h2>
                </div> -->
                <div class="event-grid border-md-bottom ">
                    <div class="event-card">
                        <div class=" mx-0 event-top-position">
                            {% if event.banner %}
                            <img src="{{event.banner}}" alt="{{event.title}}">
                            {% else %}
                            <h5 class=" event-card-title ">{{event.title}}</h5>
                            {% endif %}
                        </div>
                        <div class="event-item">
                            <div class="event-item-list">
                                <div class="row mx-0 align-items-center event-items-grid">
                                    <div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/location.png"
                                            alt="location icon"></div>
                                    <p class="m-0 col-10 p-0">{{event.address}}</p>
                                </div>
                                <div class="row mx-0 align-items-center event-items-grid">
                                    <div class="col-2  p-0"><img class="event-icons p-0" src="/images/event/calendar.png"
                                            alt="calender icon"></div>
                                    <p class="m-0 col-10 p-0 text-capitalize">{{ event.date | date: '%B' | upcase }} {{ event.date | date: '%d'}}, {{ event.date | date: '%Y' | upcase }}</p>
                                </div>
                                
                                <!-- <p class="talk-summary">{{talk.summary}}</p>        -->
                            </div>
                            <!-- <hr> -->
                            <div class="event-cta">
                                
                                <a href="{{event.url}}" class="event-view-more">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}    
    </div>
</div>
</div>
