---
layout: default
bodyClass: v2-page-layout
---

<!-- <section> -->
<!-- <div class="reveal">
  <div class="slides"> -->
    <section class="section-top">
      <div class="section-intro-container row mx-0">
        <div class="section-content col-lg-6 p-0 col-12">
          <div class="intro-content py-2">{{ content }}</div>
        </div>
        <div
          class="intro-image-conatainer col-lg-6 p-0 col-12 order-lg-1 order-first flex-xl-row-reverse"
        >
          <img src="/{{page.intro_image}}" alt="{{page.title}}" />
        </div>
      </div>
    </section>
  <!-- </div>
</div> -->

<!-- | sort: 'weight' | reverse -->

{%if page.sections%}
{% assign sorted_section = page.sections  %}

<!-- <div class="content"> -->
{% for section in sorted_section %}
<!-- <section> -->
  <section class="{{section.section.features_class | default: 'box-card-container'}}">
    <div
      class="section-container {% if section.section.features_class !='split-container' %}container{% endif %} mb-md-0 servce-summary"
      id="{{ section.hash }}"
    >
      <!-- style="background-color: {{ section.section.background | default: '#6c973c' }};" -->
      <div class="strip service-section">
        <div class="p-2 mt-2">
          <div class="mx-0">
            <h2 class="service-title">
              <a href="#{{ section.hash }}">{{ section.title }}</a>
            </h2>
            <div class=""><p class="m-0">{{ section.summary  }}</p></div>
          </div>
          
        </div>
      </div>
      <div class="content-list-item {% if section.section.grid_order_class %}{{section.section.grid_order_class}}{% endif %}">
        {% if section.features %}
        <ul class="container-context">
          {% for feature in section.features %}
          <li>
            <a {% if feature.path %}href="{{feature.path}}"{% endif %}>
              <div
                class="d-flex justify-content-around  flex-column feature-card {{ feature.div_class | default: ' platform-strategy' }}"
              >
              {%if feature.icon %}
                <div class=" icon">
                  <span
                    class="material-icons {{ feature.span_class | default: 'icon-serv py-1' }}"
                  >
                    {{ feature.icon }}
                  </span>
                </div>
                {% endif %}
                <h2 class="{{ feature.h2_class | default: 'text-left' }}">
                  {{ feature.title }}
                </h2>
                <span class="feature-summary"> {{ feature.summary }} </span>
                {% if feature.cta_name %}
              <p class="m-0 mt-auto">{{feature.cta_name}}</p>
              {% endif %}
              </div>
              
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {%if section.section.image %}
        <img src="/{{section.section.image}}"/>
        {%endif %}
        
      </div>
    </div>
  </section>
<!-- </section> -->
{% endfor %}
<!-- </div>  -->
{% endif %}